<h1>Qui&eacute;n es el rey del juego??</h1>
<% if @world_king %>
  <h2>El rey del juego es <%=@world_king.player.name%> :D</h2>
  <h3>Puntaje: <%= @world_king.total_score %></h3>
<% else %>
  <h2>No hay rey del juego a&uacute;n!!</h2>
<% end %>

<h2>Puntajes Totales</h2>
<table>
  <tr>
    <th>Jugador</th>
    <th>Puntaje</th>
  </tr>

  <% @total_scores.each do |t| %>
    <tr>
      <td><%= t.player.name %></td>
      <td><%= t.total_score %></td>
    </tr>
  <% end %>
</table>

<h1>Las pistas y sus reyes</h1>
<table>
  <tr>
    <th>Pista</th>
    <th>Rey</th>
    <th>Puntaje</th>
  </tr>
  <% @circuits.each do |c| %>
    <% if c.winner %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.winner.player.name %></td>
        <td><%= c.winner.total_score %></td>
      </tr>
    <% end %>
  <% end %>
</table>