<!DOCTYPE html>
<html>
  <head>
    <title>Ctr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Inicio', root_path %></li>
          <li><%= link_to 'Partidas', games_path %></li>
          <li><%= link_to 'Nueva Partida', new_game_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
